.App {
  text-align: center;
}

.mytodoapp{
  display: flex;
  text-align:center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(./images/bg.png);
  
}
.deleted
{
  background-color: rgb(255, 153, 0);
  margin: 5px;
  border: dashed 1px gray;
  width:50%;
  
}
.alltasks
{
  background-color: rgb(4, 126, 163);
  margin: 5px;
  border: dashed 1px wheat;
  width:50%;
}

.completed{
  background-color: rgb(47, 255, 175);
  margin: 5px;
  border: dashed 1px gray;
  width:50%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
